.aboutus {
  /* 了解文储 */
  /* 认识文储 */
  /* 事件 */
}
.aboutus .brief {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 59px;
  margin-bottom: 30px;
}
.aboutus .brief .brief-titlet h2 {
  font-size: 85px;
  color: #666666;
  font-family: DINCond-Black;
  opacity: 0.14;
}
.aboutus .brief .brief-titlet span {
  font-size: 30px;
  color: #333333;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -65px;
}
.aboutus .brief dl dd {
  padding: 0;
  height: 166px;
  border-right: 1px solid #d3d0d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 55px;
}
.aboutus .brief dl dd:last-child {
  border-right: none;
}
.aboutus .brief dl dd span {
  font-size: 16px;
  color: #171719;
  font-family: SourceHanSansSC-Regular;
}
.aboutus .brief .brief-content {
  font-size: 16px;
  color: #666666;
  font-family: SourceHanSansSC-Regular;
  text-align: left;
  line-height: 30px;
  text-indent: 35px;
}
.aboutus .brief dl dd h3,
.aboutus .brief dl dd .brief-titlet-number {
  font-size: 48px;
  font-family: SourceHanSansSC-Medium;
  display: inline-block;
}
.aboutus .know {
  background: #f5f5f8;
}
.aboutus .know .know-titlet {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 37px;
  margin-bottom: 24px;
}
.aboutus .know .know-titlet h2 {
  font-size: 85px;
  color: #666666;
  font-family: DINCond-Black;
  opacity: 0.14;
}
.aboutus .know .know-titlet span {
  font-size: 30px;
  color: #333333;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -65px;
}
.aboutus .know .know-content {
  font-size: 16px;
  color: #666666;
  font-family: SourceHanSansSC-Regular;
  text-align: left;
  line-height: 30px;
  text-indent: 35px;
  margin-bottom: 20px;
}
.aboutus .know .know-list {
  height: 859px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.aboutus .know .know-list .know-list-box {
  width: 100%;
  position: relative;
  top: -100px;
}
.aboutus .know .know-list .know-list-box li {
  height: 230px;
  position: relative;
}
.aboutus .know .know-list .li-hide {
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  line-height: 230px;
  position: absolute;
  top: 0;
  z-index: 22;
}
.aboutus .know .li-oshow {
  position: absolute;
  top: 17px;
  width: 100%;
  height: 0px;
  line-height: 23px;
  background: url('../image/know-bj.png') no-repeat center;
  background-size: 100% 100%;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  overflow: hidden;
}
.aboutus .know .oshow-pic {
  width: 100%;
  height: 240px;
  display: inline-block;
  position: absolute;
  top: 0px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  z-index: 20;
}
.aboutus .know .oshow-pic img {
  width: 100%;
}
.aboutus .know .oshow-pic .hide-pic {
  position: relative;
  left: -1px;
  width: 100%;
}
.aboutus .know .oshow-conter {
  color: #ffffff;
  padding: 0 17px;
}
.aboutus .know .oshow-conter h4 {
  font-size: 24px;
  text-align: center;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 23px;
}
.aboutus .know .oshow-conter span {
  font-size: 14px;
  font-family: SourceHanSansSC-Regular;
  text-indent: 31px;
  display: inline-block;
}
.aboutus .know .img-show {
  display: none;
}
.aboutus .event {
  background: #ffffff;
  padding-top: 104px;
  position: relative;
}
.aboutus .event .event-titlet {
  position: relative;
}
.aboutus .event .event-titlet h2 {
  font-size: 85px;
  color: #333333;
  text-align: center;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  opacity: 0.14;
}
.aboutus .event .event-titlet span {
  font-size: 30px;
  color: #333333;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -80px;
}
.aboutus .event .event-silder {
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.aboutus .event .event-silder .silder-axis {
  position: absolute;
  background: #fff;
}
.aboutus .event .event-silder .event-box {
  margin-left: 8px;
  border-left: 1px solid #00a0e9;
  margin-bottom: 70px;
  width: 100%;
}
.aboutus .event .event-silder .event-box .event-box-list p {
  font-size: 16px;
  font-family: SourceHanSansSC-Regular;
  margin-bottom: 12px;
}
.aboutus .event .event-silder .ol-li-active {
  color: #ffffff;
  background: #00a0e9;
}
.aboutus .event .event-silder .event-box-list {
  padding-left: 25px;
  position: relative;
}
.aboutus .event .event-silder .event-box-list h5 {
  font-size: 24px;
  color: #666666;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  margin-bottom: 21px;
}
.aboutus .event .event-silder .event-box-list h5 i {
  width: 13px;
  height: 13px;
  border: 1px solid #00a0e9;
  display: inline-block;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  left: -8px;
  top: 10px;
}
.aboutus .event .event-silder .event-box-list p {
  display: flex;
}
.aboutus .event .event-silder .event-box-list p i {
  width: 8px;
  height: 8px;
  background: #00a0e9;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.aboutus .event .event-silder .event-box-list p span {
  width: 60px;
}
.aboutus .event .event-silder .event-box-list p em {
  width: 90%;
}
.aboutus .event .event-silder .event-box-list .list-top h5 {
  margin: 23px auto;
}
.aboutus .event ol {
  top: 0;
  right: 0;
  cursor: pointer;
}
.aboutus .event ol li {
  width: 60px;
  height: 30px;
  font-size: 18px;
  color: #666666;
  text-align: center;
  line-height: 30px;
  font-family: DINCond-Black;
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) and (max-width: 678px) {
  body .aboutus .brief {
    margin-top: 36px;
  }
  body .aboutus .brief .brief-titlet h2 {
    font-size: 50px;
  }
  body .aboutus .brief .brief-titlet span {
    font-size: 18px;
    top: 17px;
    left: 50%;
    margin-left: -40px;
  }
  body .aboutus .brief dl dd {
    line-height: 28px;
    height: 75px;
    margin-bottom: 20px;
  }
  body .aboutus .brief dl dd h3,
  body .aboutus .brief dl dd .brief-titlet-number {
    font-size: 24px;
  }
  body .aboutus .brief dl dd span {
    font-size: 14px;
  }
  body .aboutus .brief .brief-content {
    font-size: 14px;
  }
  body .aboutus .know .know-titlet h2 {
    font-size: 50px;
  }
  body .aboutus .know .know-titlet span {
    font-size: 18px;
    top: 15px;
    left: 50%;
    margin-left: -40px;
  }
  body .aboutus .know .know-content {
    font-size: 14px;
  }
  body .aboutus .know .know-mobile ul li {
    background: #333333;
    padding-top: 30px;
  }
  body .aboutus .know .know-mobile ul li img {
    width: 100%;
  }
  body .aboutus .know .know-mobile ul li h3 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-top: 34px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
  }
  body .aboutus .know .know-mobile ul li span {
    display: block;
    font-size: 14px;
    color: #fff;
    text-indent: 31px;
    background-size: 100% 100%;
    padding: 15px 15px;
  }
  body .aboutus .event {
    padding-top: 35px;
  }
  body .aboutus .event .event-titlet h2 {
    font-size: 50px;
  }
  body .aboutus .event .event-titlet span {
    font-size: 18px;
    top: 15px;
    left: 50%;
    margin-left: -45px;
  }
  body .aboutus .event .event-silder .event-box-list h5 {
    font-size: 18px;
  }
  body .aboutus .event .event-silder .event-box-list p {
    font-size: 14px;
  }
  body .aboutus .event .event-silder .event-box .event-box-list p {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
