.wrapper {
  /* 解决方案 */
  /* 分布 */
}
.wrapper .wrapper-nav {
  background: #f7f8fb;
}
.wrapper .wrapper-nav ul li {
  height: 166px;
  border-left: 1px solid #D3D0D0;
  position: relative;
  overflow: hidden;
}
.wrapper .wrapper-nav ul li:first-child {
  border-left: none;
}
.wrapper .wrapper-nav ul li:hover {
  box-shadow: 0px 3px 8px 1px rgba(4, 0, 0, 0.2);
}
.wrapper .wrapper-nav ul li h2 {
  font-size: 18px;
  font-family: 'SourceHanSansSC-Medium';
  margin-bottom: 14px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: absolute;
  top: 39px;
}
.wrapper .wrapper-nav ul li h2 i {
  width: 30px;
  height: 2px;
  background: #00a0e9;
  display: block;
  margin-top: 14px;
}
.wrapper .wrapper-nav ul li div {
  margin-top: 14px;
  font-size: 16px;
  font-family: 'SourceHanSansSC-Regular';
  position: absolute;
  bottom: -88px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.wrapper .wrapper-nav ul li div P {
  margin-bottom: 5px;
}
.wrapper .wrapper-nav ul li:hover h2 {
  top: 19px;
}
.wrapper .wrapper-nav ul li:hover div {
  bottom: 40px;
}
.wrapper .wrapper-logo {
  text-align: center;
  padding-bottom: 60px;
  background: #fff;
}
.wrapper .wrapper-logo .logo-img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.wrapper .wrapper-logo .logo-img img {
  width: 158px;
  height: 44px;
}
.wrapper .wrapper-logo .logo-img i {
  display: block;
  margin: 0 20px;
  border-left: 2px solid #999999;
}
.wrapper .wrapper-logo h3 {
  font-size: 24px;
  color: #333333;
  font-family: 'SourceHanSansSC-Regular';
  margin-top: 29px;
  margin-bottom: 26px;
}
.wrapper .wrapper-logo span {
  font-size: 16px;
  font-family: 'SourceHanSansSC-Regular';
  color: #666666;
}
.wrapper .wrapper-logo span:hover {
  color: #00A0E9;
}
.wrapper .wrapper-product {
  background: #f5f5f8;
  padding: 40px 0px;
}
.wrapper .wrapper-product h3 {
  height: 100px;
  margin: 0;
  line-height: 100px;
  font-size: 24px;
  color: #fff;
  font-family: 'SourceHanSansSC-Bold';
  font-weight: bold;
  padding: 0 41px;
  background: linear-gradient(90deg, #00a0e9, #13b5ff);
}
.wrapper .wrapper-product h3 i {
  width: 100%;
  height: 1px;
  background: #fff;
  display: inline-flex;
  position: relative;
  top: -80px;
  opacity: 0.25;
}
.wrapper .wrapper-product ul li {
  border: 1px solid #eeeeee;
  position: relative;
  background: #ffffff;
}
.wrapper .wrapper-product ul li:hover {
  cursor: pointer;
  box-shadow: 0px 3px 8px 1px rgba(4, 0, 0, 0.2);
  z-index: 2;
}
.wrapper .wrapper-product ul li h5 {
  font-size: 18px;
  color: #333333;
  text-align: center;
  font-family: 'SourceHanSansSC-Regular';
  margin-top: 20px;
  margin-bottom: 19px;
}
.wrapper .wrapper-product ul li .ul-li-text {
  height: 50px;
  font-size: 14px;
  color: #666666;
  text-align: left;
  display: inherit;
}
.wrapper .wrapper-product ul li dl {
  margin-bottom: 19px;
  border-bottom: 1px solid #bcbaba;
  margin-top: 14px;
  display: inline-block;
  height: 165px;
  padding: 0;
}
.wrapper .wrapper-product ul li dl dd {
  font-size: 12px;
  font-family: 'SourceHanSansSC-Regular';
  color: #666666;
  margin-bottom: 18px;
}
.wrapper .wrapper-product ul li dl dd span {
  width: 131px;
  display: inline-block;
}
.wrapper .wrapper-product ul li dl dd img {
  margin-right: 5px;
}
.wrapper .wrapper-product ul li dl dd em {
  font-family: SourceHanSansSC-Regular;
  font-weight: bold;
}
.wrapper .wrapper-product ul li .list-retail {
  margin-top: 14px;
  font-size: 12px;
  color: #666666;
  text-align: center;
  font-family: 'SourceHanSansSC-Regular';
  text-decoration: line-through;
}
.wrapper .wrapper-product ul li .product-ul-li-dt {
  margin-bottom: 84px;
}
.wrapper .wrapper-product ul li .list-price {
  font-size: 14px;
  color: #00A0E9;
  font-family: 'SourceHanSansSC-Regular';
  text-align: center;
}
.wrapper .wrapper-product ul li .list-price span {
  font-size: 20px;
  font-family: 'SourceHanSansSC-Bold';
  font-weight: bold;
}
.wrapper .wrapper-product ul li button {
  width: 87px;
  height: 28px;
  border: none;
  font-size: 14px;
  color: #fff;
  font-family: 'SourceHanSansSC-Regular;';
  margin: 20px auto;
  display: block;
  background: #00a0e9;
  outline: none;
}
.wrapper .wrapper-product ul li .product-code {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(44, 48, 60, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.wrapper .wrapper-product ul li .product-code img {
  width: 166px;
  border-radius: 10px;
}
.wrapper .wrapper-programme {
  background: rgba(55, 61, 65, 0.53);
}
.wrapper .wrapper-programme h3 {
  font-size: 24px;
  color: #010101;
  font-family: SourceHanSansSC-Bold;
  text-align: center;
  line-height: 83px;
  height: 83px;
  background: #fff;
  margin: 0px;
}
.wrapper .wrapper-programme ul {
  margin-bottom: 0px;
}
.wrapper .wrapper-programme ul li {
  width: 20%;
  height: 400px;
  position: relative;
  float: left;
  overflow: hidden;
}
.wrapper .wrapper-programme ul li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  color: #fff;
  height: 100%;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.wrapper .wrapper-programme ul li .center-middle {
  height: auto;
}
.wrapper .wrapper-programme ul li p {
  margin-top: 40px;
  margin-bottom: 15px;
}
.wrapper .wrapper-programme ul li i {
  width: 32px;
  height: 4px;
  background: #fff;
}
.wrapper .wrapper-programme ul li:nth-of-type(1) {
  background: url('../image/programme-bj01.png') no-repeat center;
}
.wrapper .wrapper-programme ul li:nth-of-type(2) {
  background: url('../image/programme-bj02.png') no-repeat center;
}
.wrapper .wrapper-programme ul li:nth-of-type(3) {
  background: url('../image/programme-bj03.png') no-repeat center;
}
.wrapper .wrapper-programme ul li:nth-of-type(4) {
  background: url('../image/programme-bj04.png') no-repeat center;
}
.wrapper .wrapper-programme ul li:nth-of-type(5) {
  background: url('../image/programme-bj05.png') no-repeat center;
}
.wrapper .wrapper-programme ul li:hover .list-hide {
  display: none;
}
.wrapper .wrapper-programme ul li:hover .list-oShow {
  bottom: 0px;
}
.wrapper .wrapper-programme ul li .list-oShow {
  position: absolute;
  left: 0;
  bottom: -400px;
  width: 100%;
  height: 400px;
  background: rgba(0, 160, 233, 0.6);
}
.wrapper .wrapper-programme ul li .list-oShow button {
  width: 80px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: SourceHanSansSC-Regular;
  border: none;
  border: 1px solid #ffffff;
  background: rgba(0, 160, 233, 0.6);
  cursor: pointer;
}
.wrapper .wrapper-programme ul li .list-oShow button:hover {
  color: #00a0e9;
  background: #fff;
}
.wrapper .wrapper-programme ul li .list-oShow i {
  margin-bottom: 53px;
}
.wrapper .wrapper-tool {
  background: #fff;
}
.wrapper .wrapper-tool ul li {
  text-align: center;
  margin-bottom: 48px;
}
.wrapper .wrapper-tool ul li p {
  margin-top: 23px;
  font-size: 14px;
  color: #666666;
  font-family: SourceHanSansSC-Regular;
}
.wrapper .wrapper-tool ul li .move {
  display: none;
}
.wrapper .wrapper-tool ul li img {
  width: 58px;
  height: 54px;
}
.wrapper .wrapper-tool ul li .Immobility-move:hover {
  -webkit-animation: keyframes 2s linear infinite;
  -moz-animation: keyframes 2s linear infinite;
  animation: zindex 2s linear infinite;
}
@-moz-keyframes zindex {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes zindex {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes zindex {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes zindex {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper .wrapper-partner {
  background: #ffffff;
  color: #333333;
  font-family: SourceHanSansSC-Regular;
  text-align: center;
  padding-top: 81px;
  padding-bottom: 60px;
}
.wrapper .wrapper-partner .partner-row {
  display: flex;
  justify-content: center;
}
.wrapper .wrapper-partner .partner-row img {
  height: 44px;
}
.wrapper .wrapper-partner .partner-logo {
  width: 158px;
  padding-right: 20px;
  border-right: 2px solid #999999;
}
.wrapper .wrapper-partner .partner-vianet {
  width: 184px;
  margin-left: 20px;
}
.wrapper .wrapper-partner p {
  font-size: 24px;
  margin: 19px 0px 10px 0px;
}
.wrapper .wrapper-partner span {
  font-size: 16px;
  color: #666666;
}
.wrapper .wrapper-partner span:hover {
  color: #00a0e9;
}
.wrapper .wrapper-distribution {
  line-height: 50px;
  margin: 20px auto;
  font-size: 24px;
  color: #000;
  text-align: center;
  font-family: SourceHanSansSC-Regular;
}
.wrapper .wrapper-distribution p {
  font-size: 16px;
  color: #666666;
}
.wrapper .wrapper-distribution p:hover {
  color: #00a0e9;
}
.wrapper .wrapper-main {
  margin: 39px auto;
  margin-bottom: 69px;
  background: #fff;
}
.wrapper .wrapper-main span {
  font-size: 14px;
  color: #666666;
  font-family: SourceHanSansSC-Regular;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}
.wrapper .wrapper-main span img {
  margin-right: 8px;
}
@media (min-width: 1200px) {
  .wrapper-logo img {
    width: 10.333333%;
  }
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 320px) and (max-width: 668px) {
  body .wrapper {
    /* 解决方案 */
  }
  body .wrapper .wrapper-logo {
    padding-bottom: 30px;
  }
  body .wrapper .wrapper-logo h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  body .wrapper .wrapper-logo span {
    font-size: 14px;
    font-family: 'SourceHanSansSC-Regular';
  }
  body .wrapper .wrapper-nav ul li {
    border: none;
    background: #fff;
    margin: 15px 3%;
    width: 93%;
    height: 130px;
  }
  body .wrapper .wrapper-nav ul li h2 {
    top: 15px !important;
  }
  body .wrapper .wrapper-nav ul li div {
    bottom: 15px !important;
    padding-right: 15px;
  }
  body .wrapper .wrapper-product h3 {
    padding: 0 15px;
  }
  body .wrapper .wrapper-product ul li {
    height: auto;
  }
  body .wrapper .wrapper-product ul li .ul-li-text {
    text-align: center;
  }
  body .wrapper .wrapper-product ul li .list-center {
    display: flex;
    align-items: center;
  }
  body .wrapper .wrapper-product ul li dl {
    height: auto;
    border-bottom: 1px solid transparent;
    padding: 0 15px;
  }
  body .wrapper .wrapper-product ul li dl dd {
    margin-bottom: 0;
    line-height: 25px;
  }
  body .wrapper .wrapper-product ul li dl dd span {
    width: 100%;
  }
  body .wrapper .wrapper-product ul li .product-ul-li-dt {
    margin-bottom: 0px;
  }
  body .wrapper .wrapper-product ul li:nth-child(odd) {
    background: #F7F8FB;
  }
  body .wrapper .wrapper-product ul li .list-mobile {
    margin-bottom: 47px;
  }
  body .wrapper .wrapper-programme ul li {
    width: 100%;
    height: 150px;
    background-image: none !important;
    background-color: #1F283A !important;
    border-bottom: 1px solid #fff;
  }
  body .wrapper .wrapper-programme ul li .list-center {
    display: flex !important;
    justify-content: space-around;
    flex-direction: row;
  }
  body .wrapper .wrapper-programme ul li .list-center P {
    font-weight: 500;
    margin-top: 0px;
  }
  body .wrapper .wrapper-programme ul li .list-center i {
    height: 2px;
  }
  body .wrapper .wrapper-programme ul li .list-center .see {
    font-size: 14px;
    color: #fff;
    font-family: SourceHanSansSC-Light;
    padding: 4px 7px;
    margin-top: 18px;
    border: 1px solid #fff;
  }
  body .wrapper .wrapper-distribution {
    line-height: 30px;
    font-size: 18px;
  }
  body .wrapper .wrapper-distribution p {
    font-size: 14px;
  }
  body .wrapper .wrapper-partner {
    padding-top: 40px;
    padding-bottom: 25px;
  }
  body .wrapper .wrapper-partner p {
    font-size: 18px;
  }
}
